services:
  app:
    build:
      context: .
      dockerfile: Dockerfile

    ports:
      - "3030:3000"

    environment:
      NODE_ENV: production
      PORT: 3030
      PLAYWRIGHT_BROWSERS_PATH: /ms-playwright
      PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: "1"
      NEXT_TELEMETRY_DISABLED: "1"
      TZ: "Asia/Shanghai"

    volumes:
      - downloads-data:/app/public/downloads

    restart: unless-stopped

volumes:
  downloads-data: